In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\XSOL.AI\SSolutions-Dashboard\\attachments\\02-Dec-2024\Softbuchung_KF.csv", sep=";")

In [4]:
df

,Auftrag Auftragsnummer (Auftrag),CRS (Standard) LT-Code,CRS (Standard) original Status,CRS (Standard) Status,Leistung Element Preis,Leistung Anlagezeit,Leistung Originalbetrag,Unnamed: 7
0,7080636,AIDA,SB,OK,"4.120,00",04.02.2024 13:47:07,"0,00",NaN
1,7081010,MSC,SB,OK,"4.091,00",05.02.2024 21:56:45,"0,00",NaN
2,7081652,MSC,SB,OK,"898,00",09.02.2024 14:13:17,"0,00",NaN
3,7081728,AIDA,SB,OK,"1.623,00",09.02.2024 21:31:05,"0,00",NaN
4,7081894,MSC,SB,OK,"1.918,00",10.02.2024 21:01:19,"0,00",NaN
5,7082722,MSC,SB,OK,"2.956,00",15.02.2024 21:00:26,"0,00",NaN
6,7082797,CST,SB,OK,"938,00",16.02.2024 12:57:40,"0,00",NaN
7,7083062,AIDA,SB,OK,"1.750,00",17.02.2024 22:38:32,"0,00",NaN
8,7083597,CST,SB,OK,"1.938,00",20.02.2024 15:11:28,"0,00",NaN
9,7083681,CST,SB,OK,"1.018,50",20.02.2024 21:35:22,"0,00",NaN
10,7084096,AIDA,SB,OK,"4.898,00",23.02.2024 17:40:50,"0,00",NaN
11,7084825,AIDA,SB,OK,"4.718,00",27.02.2024 21:09:02,"0,00",NaN
12,7085216,CST,SB,OK,"2.588,00",29.02.2024 21:45:03,"0,00",NaN
13,7085232,CST,SB,XX,"0,00",29.02.2024 22:43:48,"0,00",NaN
14,7125969,MSC,SB,OP,"558,00",01.12.2024 19:24:48,"0,00",NaN

In [5]:
df.columns.str.strip()

Index(['Auftrag Auftragsnummer (Auftrag)', 'CRS (Standard) LT-Code',
       'CRS (Standard) original Status', 'CRS (Standard) Status',
       'Leistung Element Preis', 'Leistung Anlagezeit',
       'Leistung Originalbetrag', 'Unnamed: 7'],
      dtype='object')